<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= @skill.new_record? ? t('new_skill') : t('update_skill') %>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/errors', locals: { demo: @skill } %>
        <%= form_for(@skill, 
                     url: (@skill.new_record? ? skills_path : skill_path(@skill)), 
                     method: (@skill.new_record? ? 'post' : 'put')) do |f| %>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('select_language_information') %></label>
          <div class="col-sm-10">
            <% if @skill.new_record? %>
              <select name="skill[language]" class="form-control">
                <%= options_for_select([[""],[t('chinese'),"zh"], [t('english'),"en"]]) %>
              </select>
            <% else %>
              <select name="skill[language]" class="form-control">
                <% [["zh", t('chinese')], ["en", t('english')]].each do |category| %>
                  <option value="<%= category.first %>" <%= @skill.language == category.first ? 'selected' : '' %>><%= category.last %></option>
                <% end %>
              </select>
            <% end %>
          </div>
        </div>
          
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('skill_name') %></label>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('weight') %></label>
          <div class="col-sm-10">
            <%= f.number_field :weight, class: "form-control"%>
          </div>
        </div> 

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('skill_description') %></label>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('status') %>:</label>
          <div class="col-sm-10">
            <select name="skill[status]" class="form-control text-secondary">
              <% [[ApplicationRecord::Status::On, t('publish')], [ApplicationRecord::Status::Off, t('unpublish')]].each do |row| %>
                <option value="<%= row.first %>" <%= 'selected' if @skill.status == row.first %>><%= row.last %></option>
              <% end -%> 
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit (@skill.new_record? ? t('new_skill') : t('update_skill')), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
