<div class="col-md-10 col-sm-8">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('skill_lists') %>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @skills.each do |skill| %>
            <li class="list-group-item text-secondary">
              <%= skill.language == "zh" ? t('chinese') : t('english') %>|
              <%= skill.name %> &nbsp
              <%= link_to t('show'), skill_path(skill), class: "text-secondary" %>|
              <%= link_to t('edit'), edit_skill_path(skill), class: "text-secondary" %>|
              <%= link_to t('destroy'), skill, method: :delete, data: { confirm: t('confirm_delete') }, class: "text-secondary" %>
            </li>
          <% end %>
          <li class="list-group-item text-secondary">
            <%= link_to t('new_skill'), new_skill_path, class: "btn btn-primary btn-sm" %>
          </li>
        </ul>
      </div>
    </div>
</div>
