<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('skill_lists')%> | <%= @skill.name %>
      </div>
      <div class="card-body">
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('skill_name') %>: <%= @skill.name %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('weight') %>: <%= @skill.weight %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('skill_description') %>: <%= sanitize @skill.description %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('language') %>: <%= @skill.language == "zh" ? t('chinese') : t('english') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('status') %>: <%= @skill.status == true ? t('published') : t('unpublished') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label"><%= link_to t('skill_lists'), skills_path, class: "btn btn-primary btn-sm" %></label>
        </div>
      </div>
    </div>
</div>
