<div class='col-md-2'>
    <div class="card">
      <div class="card-header text-secondary text-center">
        简历信息设置
      </div>
      <div class="card-body d-flex flex-column row-hl">
        <div class="p-1 item-hl align-self-center">
          <a href="<%= projects_path %>", class="btn <%= controller_name == 'projects' ? 'btn-primary' : 'btn-outline-secondary' %>">
             项目经历</a>
        </div>
        <div class="p-1 item-hl align-self-center">
          <a href="<%= educations_path %>", class="btn <%= controller_name == 'educations' ? 'btn-primary' : 'btn-outline-secondary' %>">
             教育经历</a>
        </div> 
        <div class="p-1 item-hl align-self-center">
          <a href="<%= skills_path %>", class="btn <%= controller_name == 'skills' ? 'btn-primary' : 'btn-outline-secondary' %>">
             技术介绍</a>
        </div>
        <div class="p-1 item-hl align-self-center">
          <a href="<%= experiences_path %>", class="btn <%= controller_name == 'experiences' ? 'btn-primary' : 'btn-outline-secondary' %>">
             工作经历</a>
        </div>
      </div>
    </div>
</div>
