<% provide(:title, t('home')) %>

<nav class="navbar navbar-expand-sm navbar-light bg-dark">
  <div class="container">
    <strong><%= link_to t('resume'), root_path, class: "navbar-brand text-secondary text-light" %></strong>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"><li class="nav-item"></li></ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "中文", set_zh_path, class: "text-secondary nav-link" %></li>
        <li class="nav-item"><%= link_to "English", set_en_path, class: "text-secondary nav-link" %></li>
        <% if logged_in? %>
          <li class="nav-item"></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <% if current_user.avatar.to_s.size == 0 %>
                <%= image_tag "male.jpeg", size: "25x25", class: "rounded-circle" %>
              <% else %>
                <%= image_tag current_user.avatar.large.url, size: "25x25", class: "rounded-circle" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to t('basic_settings'), edit_user_path(current_user), class: "dropdown-item text-secondary" %>
              <%= link_to t('resume_settings'), projects_path, class: "dropdown-item text-secondary" %>
              <div class="dropdown-divider"></div>
              <%= link_to t('logout'), logout_path, method: "delete", class: "dropdown-item text-secondary" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t('login'), login_path, class: "nav-link text-light" %></li>
        <% end -%>
      </ul> 
    </div>
  </div>
</nav>


<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading text-dark"><%= t('app_description') %></h1>
      <p class="lead text-muted">
        <a href="<%= online_path(@user.name_en) %>?locale=en" target="_blank">
          <button type="button" class="btn btn-primary mt-2">
            <i class="fa fa-language fa-fw"></i> <%= t('english_resume') %>
          </button>
        </a>
        <a href="<%= online_path(@user.name_en) %>?locale=zh" target="_blank">
          <button type="button" class="btn btn-primary mt-2">
            <i class="fa fa-language fa-fw"></i> <%= t('chinese_resume') %>
          </button>
        </a>
      </p>
    </div>
  </section>
</main>

<footer class="text-muted">
  <div class="container">
    <p><small><%= t('footer') %></small></p>
  </div>
</footer>
