<% provide(:title, @user.name_en) %>
<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <% unless @user.avatar.to_s.size == 0 %>
          <%= image_tag @user.avatar.large.url %>
        <% else %>
          <img src="https://test.zhengjiajun.com/uploads/wechat/name/29/middle_avatar.png"/>
        <% end %>
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="name d-flex flex-row justify-content-between align-items-center">
              <h1 class="display-4"><%= I18n.locale == :zh ? @user.name : @user.name_en %></h1>
              <% if @user.has_social? %>
                <% if @wechat %>
                  <div>
                    <a class="color" href="#" data-toggle="tooltip" title='<%= image_tag @wechat.name.middle.url, width: "200" %>'>
                      <i class="fa fa-wechat"></i>
                    </a>
                  </div>
                <% end %>
                <% @socials.each do |social| %>
                  <% case social.name %>
                    <% when "github" %>
                      <div><a class="color" href="<%= social.url %>"><i class="fa fa-github"></i></a></div>
                    <% when "weibo" %>
                      <div><a class="color" href="<%= social.url %>"><i class="fa fa-weibo"></i></a></div>
                    <% when "facebook" %>
                      <div><a class="color" href="<%= social.url %>"><i class="fa fa-facebook"></i></a></div>
                    <% when "twitter" %>
                      <div><a class="color" href="<%= social.url %>"><i class="fa fa-twitter"></i></a></div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="p-4 bg-black"><%= I18n.locale == :zh ? @user.description : @user.description_en %></div>

          <div>
            <div class="d-flex flex-row flex-wrap text-white align-items-stretch text-center">
              <% if @user.has_project? %>
                <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#project">
                  <i class="fa fa-home d-block"></i>
                </div>
              <% end %>
              <% if @user.has_education? %>
                <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#education">
                  <i class="fa fa-graduation-cap d-block"></i>
                </div>
              <% end %>
              <% if @user.has_experience? %>
                <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#experience">
                  <i class="fa fa-folder-open d-block"></i>
                </div>
              <% end %>
              <% if @user.has_skill? %>
                <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#skill">
                  <i class="fa fa-envelope d-block"></i>
                </div>
              <% end %>
              <% if @user.has_paper? %>
                <div class="port-item p-4 bg-info" data-toggle="collapse" data-target="#paper">
                  <i class="fa fa-newspaper-o d-block"></i>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div id="project" class="collapse">
    <div class="card card-body bg-primary text-white py-5">
      <h2><%= t('project') %></h2>
      <div>
        <% @projects.each do |project| %>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i><%= project.tag%>|<%= project.name %>|<%= project.time%>|<%= project.description %></li>
          </ul>
        <% end %>
      </div> 
    </div>
  </div> 

  <div id="education" class="collapse">
    <div class="card card-body bg-success text-white py-5">
      <h2><%= t('education') %></h2>
      <div>
        <% @educations.each do |education| %>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i><%= education.school%>|<%= education.degree %>|<%= education.major%>|GPA:<%= education.gpa%>|<%= education.time %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>  
  
  <div id="experience" class="collapse">
    <div class="card card-body bg-warning text-white py-5">
      <h2><%= t('experience') %></h2>
      <div>
        <% @experiences.each do |experience| %>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i><%= experience.time%>|<%= experience.company %>|<%= experience.position%>|<%= experience.description%></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id="skill" class="collapse">
    <div class="card card-body bg-danger text-white py-5">
      <h2><%= t('skill') %></h2>
      <div>
        <% @skills.each do |skill| %>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i><%= skill.name%>|<%= skill.description %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div id="paper" class="collapse">
    <div class="card card-body bg-info text-white py-5">
      <h2><%= t('paper') %></h2>
      <div>
        <% @papers.each do |paper| %>
          <ul class="fa-ul mb-0">
            <li><i class="fa-li fa fa-check"></i><%= paper.time%>|<%= paper.paper_level%>|<%= paper.author_ranking%>|<%= paper.title%>|<%= paper.description %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <% if @user.has_pdf_resume? %>
    <footer id="main-footer" class="p-5 bg-dark text-white">
      <div class="row">
        <% if @pdf_resume %>
          <div class="col-md-6">
            <a href="<%= @pdf_resume.name.url %>" class="btn btn-outline-light"><i class="fa fa-cloud-download"></i> <%= t('download_resume') %></a>
          </div>
        <% end %>
      </div>
    </footer>
  <% end %>
</div>


<%= content_for :javascripts do %>
  <script>
    $('.port-item').click(function(){
      $('.collapse').collapse('hide');
    });

    $('a[data-toggle="tooltip"]').tooltip({
      animated: 'fade',
      placement: 'bottom',
      html: true
    }); 
  </script>
<% end %>


