<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        项目经历
      </div>
      <div class="card-body">
        <%= render 'errors' %>
        <%= form_for(@project, url: project_path, method: 'put') do |f| %>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">名称</label>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">标签</label>
          <div class="col-sm-10">
            <%= f.text_field :tag, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">时期</label>
          <div class="col-sm-10">
            <%= f.text_field :time, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">项目描述</label>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
         <label class="col-sm-2 col-form-label text-secondary">权重</label>
          <div class="col-sm-10">
            <%= f.number_field :weight, class: "form-control"%>
          </div>
        </div> 

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit "更新项目经历", class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
