<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= @project.new_record? ? t('new_project') : t('update_project') %>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/errors', locals: { demo: @project } %>
        <%= form_for(@project,
                     url: (@project.new_record? ? projects_path : project_path(@project)),
                     method: (@project.new_record? ? 'post' : 'put')) do |f| %>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('select_language_information') %></label>
          <div class="col-sm-10">
            <% if @project.new_record? %>
              <select name="project[language]" class="form-control">
                <%= options_for_select([[""],[t('chinese'),"zh"], [t('english'),"en"]]) %>
              </select>
            <% else %>
              <select name="project[language]" class="form-control">
                <% [["zh", t('chinese')], ["en", t('english')]].each do |category| %>
                  <option value="<%= category.first %>" <%= @project.language == category.first ? 'selected' : '' %>><%= category.last %></option>
                <% end %>
              </select>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('project_name') %>:</label>
          <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('project_tag') %>:</label>
          <div class="col-sm-10">
            <%= f.text_field :tag, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('project_time') %>:</label>
          <div class="col-sm-10">
            <%= f.text_field :time, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('project_description') %>:</label>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('weight') %>:</label>
          <div class="col-sm-10">
            <%= f.number_field :weight, class: "form-control"%>
          </div>
        </div> 

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('status') %>:</label>
          <div class="col-sm-10">
            <select name="project[status]" class="form-control text-secondary">
              <% [[ApplicationRecord::Status::On, t('publish')], [ApplicationRecord::Status::Off, t('unpublish')]].each do |row| %>
                <option value="<%= row.first %>" <%= 'selected' if @project.status == row.first %>><%= row.last %></option>
              <% end -%> 
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit (@project.new_record? ? t('new_project') : t('update_project')), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        
        <% end %>
      </div>
    </div>
</div>
