<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('work_experience_list')%> | <%= @experience.company %>
      </div>
      <div class="card-body">
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('company') %>: <%= @experience.company %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('position') %>: <%= @experience.position %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('work_time') %>: <%= @experience.time %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('work_description') %>: <%= @experience.description %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('weight') %>: <%= @experience.weight %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('language') %>: <%= @experience.language == "zh" ? t('chinese') : t('english') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label"><%= link_to t('work_experience_list'), experiences_path, class: "btn btn-primary btn-sm" %></label>
        </div>
      </div>
    </div>
</div>
