<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        工作经历
      </div>
      <div class="card-body">
        <%= render 'errors' %>
        <%= form_for(@experience, url: experience_path, method: 'put') do |f| %>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">公司</label>
          <div class="col-sm-10">
            <%= f.text_field :company, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">职位</label>
          <div class="col-sm-10">
            <%= f.text_field :position, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">时期</label>
          <div class="col-sm-10">
            <%= f.text_field :time, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary">职位描述</label>
          <div class="col-sm-10">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
         <label class="col-sm-2 col-form-label text-secondary">权重</label>
          <div class="col-sm-10">
            <%= f.number_field :weight, class: "form-control"%>
          </div>
        </div> 

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit "更新工作经历", class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
