<div class="col-md-10 col-sm-8">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('paper_lists') %>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @papers.each do |paper| %>
            <li class="list-group-item text-secondary">
              <%= paper.language == "zh" ? t('chinese') : t('english') %>|
              <%= paper.title %>
              <% if paper.status? %>
                <span class='badge badge-primary'><%= t('published')%></span>
              <% end -%>
               &nbsp&nbsp
              <%= link_to t('show'), paper_path(paper), class: "text-secondary" %>|
              <%= link_to t('edit'), edit_paper_path(paper), class: "text-secondary" %>|
              <%= link_to t('destroy'), paper, method: :delete, data: { confirm: "确定删除?"}, class: "text-secondary" %>|
              <% if paper.status? %>
                <%= link_to t('unpublish'), published_paper_path(paper), class: "text-secondary" %>
              <% else %>
                <%= link_to t('publish'), published_paper_path(paper), class: "text-secondary" %>
              <% end %>
            </li>
          <% end %>
          <li class="list-group-item text-secondary">
            <%= link_to t('new_paper'), new_paper_path, class: "btn btn-primary btn-sm" %>
          </li>
        </ul>
      </div>
    </div>
</div>
