<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= @education.new_record? ? t('new_education') : t('update_education') %>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/errors', locals: { demo: @education } %>
        <%= form_for(@education, 
                     url: (@education.new_record? ? educations_path : education_path(@education)),
                     method: (@education.new_record? ? 'post' : 'put')) do |f| %>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('school') %></label>
          <div class="col-sm-10">
            <%= f.text_field :school, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('degree') %></label>
          <div class="col-sm-10">
            <%= f.text_field :degree, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('major') %></label>
          <div class="col-sm-10">
            <%= f.text_field :major, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('gpa') %></label>
          <div class="col-sm-10">
            <%= f.text_field :gpa, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('education_time') %></label>
          <div class="col-sm-10">
            <%= f.text_field :time, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-secondary"><%= t('weight') %></label>
          <div class="col-sm-10">
            <%= f.number_field :weight, class: "form-control"%>
          </div>
        </div> 

        <div class="form-group row">
          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <%= f.submit (@education.new_record? ? t('new_education') : t('update_education')), class: "btn btn-primary btn-sm"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
