<div class="col-md-10 col-sm-8">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('education_list') %>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @educations.each do |education| %>
            <li class="list-group-item text-secondary">
              <%= education.language == "zh" ? t('chinese') : t('english') %>|
              <%= education.school %> 
              <% if education.status? %>
                <span class='badge badge-primary'><%= t('published')%></span>
              <% end -%>
              &nbsp&nbsp
              <%= link_to t('show'), education_path(education), class: "text-secondary" %>|
              <%= link_to t('edit'), edit_education_path(education), class: "text-secondary" %>|
              <%= link_to t('destroy'), education, method: :delete, data: { confirm: t('confirm_delete') }, class: "text-secondary" %>|
              <% if education.status? %>
                <%= link_to t('unpublish'), published_education_path(education), class: "text-secondary" %>
              <% else %>
                <%= link_to t('publish'), published_education_path(education), class: "text-secondary" %>
              <% end %>
            </li>
          <% end %>
          <li class="list-group-item text-secondary">
            <%= link_to t('new_education'), new_education_path, class: "btn btn-primary btn-sm" %>
          </li>
        </ul>
      </div>
    </div>
</div>
