<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('education_list')%> | <%= @education.school %>
      </div>
      <div class="card-body">
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('school') %>: <%= @education.school %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('degree') %>: <%= @education.degree %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('major') %>: <%= @education.major %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('gpa') %>: <%= @education.gpa %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('education_time') %>: <%= @education.time %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('weight') %>: <%= @education.weight %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('language') %>: <%= @education.language == "zh" ? t('chinese') : t('english') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('status') %>: <%= @education.status == true ? t('published') : t('unpublished') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label"><%= link_to t('education_list'), educations_path, class: "btn btn-primary btn-sm" %></label>
        </div>
      </div>
    </div>
</div>
