<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('social_lists') %> | <%= @social.name %>
      </div>
      <div class="card-body">
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('social_name') %>: <%= @social.name %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('url') %>: <%= @social.url %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('weight') %>: <%= @social.weight %></label>
        </div>
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label text-secondary"><%= t('status') %>: <%= @social.status == true ? t('published') : t('unpublished') %></label>
        </div> 
        <div class="form-group mb-0">
          <label class="col-sm-12 col-form-label"><%= link_to t('social_lists'), socials_path, class: "btn btn-primary btn-sm" %></label>
        </div>
      </div>
    </div>
</div>
