<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'unlogin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'unlogin', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="text-center">
    <%= yield %>
    <% debug params %>
  </body>
  <%= yield :javascripts %>
</html>
