<div class="col-md-10">
    <div class="card">
      <div class="card-header text-secondary text-center">
        <%= t('pdf_resume') %>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @pdf_resumes.each do |pdf_resume| %>
            <li class="list-group-item text-secondary">
              <%= pdf_resume.language == "zh" ? t('chinese') : t('english') %>|
              <%= t('pdf_resume_uploaded') %>
              <% if pdf_resume.status? %>
                <span class='badge badge-primary'><%= t('published')%></span>
              <% end -%>
              &nbsp&nbsp 
              <%= link_to t('download'), pdf_resume.name.url, class: "text-secondary" %>|
              <%= link_to t('reupload'), edit_pdf_resume_path(pdf_resume), class: "text-secondary" %>|
              <%= link_to t('destroy'), pdf_resume, method: :delete, data: { confirm: "确定删除?"}, class: "text-secondary" %>|
              <% if pdf_resume.status? %>
                <%= link_to t('unpublish'), published_pdf_resume_path(pdf_resume), class: "text-secondary" %>
              <% else %>
                <%= link_to t('publish'), published_pdf_resume_path(pdf_resume), class: "text-secondary" %>
              <% end %>
            </li>
          <% end %>
          <li class="list-group-item text-secondary">
            <%= link_to t('resume_information'), new_pdf_resume_path, class: "btn btn-primary btn-sm" %>
          </li>
        </ul>
      </div>
    </div>
</div>
